<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<input type="text" (keyup.enter)="add(course)" #course>
<h2>What you can see below is a list of courses from firebase</h2>
<p>You can delete an item by pressing "delete" button at the left handside of the item.</p>
<p>Adding new course can be done by filling-in the textbox above and pressing "ENTER"</p>
<ul>
  <li [id]="course.key" *ngFor="let course of courseswithKeys$ | async ">
    {{course.key}}: {{course.value}}<button (click)="delete(course.key)">delete</button></li>
</ul>
<p>{{author$ | async | json }}</p>
<ul *ngIf="author$ | async as author">
  <li>{{ author.Website }}</li>
  <li>{{ author.Name }}</li>
  <li>{{ author.Students }}</li>
</ul>

